<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://www.nw-engine.com/modules.xsd">
	<module version="1.0.0" name="Admin Generate Error" author="Alain Bertrand" type="admin"
		description="This module allows you to generate a PHP exception and therefore to test the bug reporting system." />
</configuration>