<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://www.nw-engine.com/modules.xsd">
	<module version="1.0.0" name="Pseudo Security Token" author="Alain Bertrand"
		description="Partial implementation of the security token system. This is a different module than the one in the full version, and is used only for demo purpose." />
</configuration>
