<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://www.nw-engine.com/modules.xsd">
	<module version="1.0.1" name="Ajax Auto Refresh" author="Alain Bertrand"
		type="module"
		description="A simple ajax demo which refreshes ever 5 sec." />
</configuration>