<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://www.nw-engine.com/modules.xsd">
	<module version="1.0.9" name="Admin Module Manager" author="Alain Bertrand"
		type="admin"
		description="Allows you to manage modules, see what they do, their versions, and enable / disable them." />
	<requires module="core" version="1.1.7" />
</configuration>