<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://www.nw-engine.com/modules.xsd">
	<module version="1.0.0" name="Scan hooks" author="Alain Bertrand" type="admin"
		description="Scan all the hook types the code currently uses, and find all the modules which supply those hooks." />
</configuration>