<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://www.nw-engine.com/modules.xsd">
	<module version="1.0.1" name="Admin Force Installer" author="Alain Bertrand" type="admin"
		description="Allows you to restart the installer, and for example cleanup a messy database. However data will be lost." />
</configuration>