<?xml version="1.0" encoding="UTF-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://www.nw-engine.com/modules.xsd">
	<module version="1.0.1" name="Admin Restore Stats" author="Alain Bertrand" type="admin"
		description="Restore all (usable) stats of a given player (like AP, Health)." />
</configuration>